
<h1>Add Customer</h1>

<form>
    <div><label>First Name</label><input type="text" name="firstName" required/></div>
    <div><label>Last Name</label><input type="text" name="lastName" required/></div>
    <div><label>Email</label><input type="text" name="email" required/></div>
    <div><label>Address1</label><input type="text" name="address1" required/></div>
    <div><label>Address2</label><input type="text" name="address2"/></div>
    <div><label>City</label><input type="text" name="city" required/></div>
    <div><label>State</label><input type="text" name="state" required/></div>
    <div><label>Zip</label><input type="text" name="zip" required/></div>

    <button>Save</button>

</form>