<h1>Update Customer</h1>

<form #f="ngForm" (ngSubmit)="updateCustomer()">
    <div><label>First Name</label><input #spy type="text" name="firstName" [(ngModel)]="customer.firstName" required/></div>
    <div><label>Last Name</label><input type="text" name="lastName" [(ngModel)]="customer.lastName" required/></div>
    <div><label>Email</label><input type="text" name="email" [(ngModel)]="customer.email" required/></div>

    <button [disabled]="!f.valid">Save</button>
    
</form>

<p>
    Form Value: {{f.value | json }}
</p>

<p>
    Customer Value: {{customer | json}}
</p>