
div.checkbox {
  margin-bottom: 30px;

  label {
    display: inline-block;
    float: left;
    max-width: 250px;
    input { width: 20px; }
    margin-right: 20px;
  }

}





div.sizes {
  label {
     display: inline-block;
     float: left;
     max-width: 150px;
     input { width: 20px; }
     margin-right: 20px;
  }
}
