
<h1>Angular Forms Cookbook</h1>

<h3>Template Driven Forms</h3>
<ul>
    <li><a href="/#/template-driven-demo">Add Form - One-way Binding</a></li>
    <li><a href="/#/template-driven-update-demo">Update Form - Two-way Binding</a></li>
    <li><a href="/#/template-driven-validation-demo">Validation</a></li>
    <li><a href="/#/template-driven-advanced">Radio, Checkbox, and Select inputs</a></li>
</ul>

<h3>Model Driven (Reactive) Forms</h3>

<ul>
  <li><a href="/#/reactive-demo">Add Form</a></li>
  <li><a href="/#/reactive-update">Update Form</a></li>
  <li><a href="/#/nested-form-group">Nested Form Group</a></li>
  <li><a href="/#/reactive-validation">Validation</a></li>
  <li><a href="/#/reactive-async-validation">Async Validation</a></li>
  <li><a href="/#/reactive-value-changes">Subscribe to Value Changes</a></li>
  <li><a href="/#/input-demo">Radio, Checkbox, and Select inputs</a></li>
  <li><a href="/#/input-list-demo">Input Controls in Collection</a></li>
</ul>
