<h1>Update Customer</h1>

<form [formGroup]="form" (ngSubmit)="updateCustomer()" novalidate>
    <div>
        <label>First Name</label>
        <input type="text" formControlName="firstName" required/>
    </div>
    <div><label>Last Name</label>
        <input type="text" formControlName="lastName" required/>
    </div>
    <div><label>Email</label>
        <input type="text" formControlName="email" required/>

    </div>

    <h3>T-Shirt Size</h3>

    <div class="radio">

        <label><input type="radio" formControlName="shirtSize" value="small"/>
            Small
        </label>
        <label><input type="radio" formControlName="shirtSize" value="medium"/>
            Medium
        </label>
        <label>
            <input type="radio" formControlName="shirtSize" value="large"/>
            Large
        </label>
        <label>
            <input type="radio" formControlName="shirtSize" value="x-large"/>
            X-Large
        </label>


    </div>

    <h3>Meal Requirements</h3>

    <div class="checkbox">

        <label>
            <input type="checkbox" formControlName="vegan" />
            Vegan
        </label>
        <label>
            <input type="checkbox" formControlName="vegetarian" />
               Vegetarian
        </label>
        <label>
            <input type="checkbox" formControlName="paleo" />
            Paleo
        </label>

    </div>

    <div>
        <label>How did you hear about us?</label>

        <select class="form-control" formControlName="referal">
            <option *ngFor="let referal of referalSources" [value]="referal.id">{{referal.name}}</option>
        </select>
    </div>



    <button [disabled]="!form.valid" >Save</button>

</form>


<p>
    Form: {{form.value | json }}
</p>

