<h1>Add Customer</h1>

<!-- //  novalidate attribute on the form prevents the browser from attempting native HTML validation
    // I suspect this is added implicitely in Angular 4
-->
<form [formGroup]="form" (ngSubmit)="addCustomer()" novalidate>
    <div>
        <label>First Name</label>
        <input type="text" formControlName="firstName"/>
    </div>
    <div><label>Last Name</label>
        <input type="text" formControlName="lastName"/>
    </div>
    <div><label>Email</label>
        <input type="text" formControlName="email"/>

    </div>

    <button [disabled]="!form.valid" >Save</button>

</form>


<p>
    Form: {{form.value | json }}
</p>


<p>
    Customer: {{customer | json }}
</p>
