/* You can add global styles to this file, and also import other style files */


form > div { margin-bottom: 10px; }

form {

  max-width: 500px;
  margin-bottom: 30px;

  label { font-size: 14px; font-weight: normal; display: block; }

  input, select {
     font-size: 16px;
      border-radius: 4px;
      width: 100%;
  }

  h3 { font-size: 16px; }

  button { font-size: 16px; border-radius: 4px; }

  div.error {
     color: red;
  }


  div.checkbox {
    input, input[type='radio'] { diplay: inline !important; }
    margin-bottom: 10px;
  }

  div.radio {
     input { display: inline; }
  }


}
